mat-toolbar {
    justify-content: space-between;
}

.mat-icon-button .mat-icon.login {
    font-size: 36px;
    height: 36px;
    width: 36px;
    line-height: 36px;
}

.user {
    margin-left: 10px;
}

.pages {
    margin-right: 10px;
}

.name {
    position: relative;
    top: 4px;
}