<mat-toolbar color="primary">
    <div>
        <button class="pages" mat-icon-button [matMenuTriggerFor]="pages_type">
            <mat-icon class = "login" aria-hidden="false" aria-label="Account icon">menu</mat-icon>
        </button>
        <mat-menu #pages_type="matMenu">
            <button mat-menu-item (click)="onSearchPageSelect()">Search page</button>
            <button mat-menu-item (click)="onBookmarksPageSelect()">Bookmarks page</button>
        </mat-menu>
        <span class="appName">Image Finder</span>
    </div>   
    <div>
        <span class="name">{{user.fullName}}</span>
        <a class="user" mat-icon-button  [href]="code_url" target="_blank" *ngIf="!user._id">
            <mat-icon class = "login" aria-hidden="false" aria-label="Account icon">account_circle</mat-icon>
        </a>
        
        <button class="user" mat-icon-button *ngIf="user._id" [matMenuTriggerFor]="account">
            <mat-icon class = "login" aria-hidden="false" aria-label="Account icon">account_circle</mat-icon>
        </button>
        <mat-menu #account="matMenu">
            <p class="menuName">{{user.fullName}}</p>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div> 
</mat-toolbar>