<mat-card>
    <img src="{{image}}" alt="picture">
    <div class="content">
        <div class="action">
            <a mat-stroked-button (click)="addBookmark()">Bookmark it!</a>
        </div>
        <mat-card-content>
            <form class="searchInput">
                <mat-form-field class = "search">
                  <mat-label>Add tags</mat-label>
                  <input matInput placeholder="#cool" [value] = "tags" (keyup) = "addTags($event)">
                </mat-form-field>
            </form>
        </mat-card-content>
    </div>    
</mat-card>