<mat-card>
    <mat-card-header>
        <mat-card-title>{{image.title}}</mat-card-title>
    </mat-card-header>
    <img src="{{image.url}}" alt="picture">
    <div class="content" *ngIf = "user._id">
        <div class="action">
            <button mat-stroked-button (click)="addBookmark()">Bookmark it!</button>
        </div>
        <mat-card-content>
            <p>{{tagsString}}</p>
            <form class="tagInput">
                <mat-form-field class = "tags">
                  <mat-label>Add a tag</mat-label>
                  <input matInput placeholder="#cool" [value] = "tag" (keyup) = "addTag($event)">
                </mat-form-field>
            </form>
        </mat-card-content>
    </div>
</mat-card>