<div class="container" *ngIf = "user._id">
    <h2>Bookmarks</h2> 
    <mat-paginator
        *ngIf="length !== 0"
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex">
    </mat-paginator>

    <div class="cards">
        <ng-container *ngFor="let image of imagesOnPage; index as i">
            <app-saved-card 
                [image]="image" 
                [index]="i" 
                [first_item] = "first_item">
            </app-saved-card>
        </ng-container>
    </div>

    <mat-paginator
        *ngIf="length !== 0 && checkBottom()"
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex">
    </mat-paginator>
</div>

<div class="container" *ngIf = "!user._id">
    <h2>Bookmarks</h2> 
    <p>To see your bookmarks, please <a [href]="code_url" target="_blank">login</a></p>
</div>

