.main-part {
    flex: 1;
    background: "grey";
}

mat-sidenav {
    width: 100px;
}

@media (max-width: 450px) {
    .mat-sidenav {
        display: none;
    }
}

.mask {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: gray;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.maskText {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.maskText h1 {
    background-color: white;
    padding: 20px 20px;
}