<div class="container">
    <form class="searchInput">
        <mat-form-field class = "search">
          <mat-label>Find images</mat-label>
          <input matInput placeholder="Cute cats" (keyup) = "search($event)">
        </mat-form-field>
    </form>

    <div class="cards">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>

    </div>
</div>



  
